@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0F6688;
  --secondary: #F14343;
  --background: #ffffff;
  --foreground: #121212;
}

.dark {
  --background: #121212;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: '29LT Bukra', sans-serif;
}
